<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<title>Designalytics</title>
	</head>
	<body class="font-inter bg-main-background">
		<div class="desktop:max-w-[1200px] desktop:my-7.5 desktop:mx-auto m-5">
			<header class="flex justify-between">
				<a href="#" class="logo">
					<img
						src="/assets/designalytics/logo.svg"
						alt="Designalytics Logo"
						class="w-logo"
					/>
				</a>

				<div class="flex items-center gap-5">
					<nav class="tablet:flex tablet:items-center tablet:gap-5">
						<div class="flex items-center gap-2.5">
							<img
								src="/assets/designalytics/user.jpg"
								alt="Jane Doe's Profile Image"
								class="w-7.5 h-7.5 rounded-full object-cover"
							/>
							<a href="#" class="text-link">Jane Doe</a>
						</div>
						<a
							href="#"
							class="tablet:block bg-secondary text-link hidden rounded px-4 py-2"
						>
							Signout
						</a>
					</nav>

					<a id="menu-btn" href="#" class="tablet:hidden">
						<svg
							class="w-10.5 h-10.5 text-white"
							viewBox="0 0 42 42"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M34.5625 21C34.5625 20.2751 33.9749 19.6875 33.25 19.6875H8.75C8.02513 19.6875 7.4375 20.2751 7.4375 21C7.4375 21.7249 8.02513 22.3125 8.75 22.3125H33.25C33.9749 22.3125 34.5625 21.7249 34.5625 21Z"
								fill="currentColor"></path>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M34.5625 12.25C34.5625 11.5251 33.9749 10.9375 33.25 10.9375H8.75C8.02513 10.9375 7.4375 11.5251 7.4375 12.25C7.4375 12.9749 8.02513 13.5625 8.75 13.5625H33.25C33.9749 13.5625 34.5625 12.9749 34.5625 12.25Z"
								fill="currentColor"></path>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M34.5625 29.75C34.5625 29.0251 33.9749 28.4375 33.25 28.4375H8.75C8.02513 28.4375 7.4375 29.0251 7.4375 29.75C7.4375 30.4749 8.02513 31.0625 8.75 31.0625H33.25C33.9749 31.0625 34.5625 30.4749 34.5625 29.75Z"
								fill="currentColor"></path>
						</svg>
					</a>
				</div>
			</header>

			<div class="desktop:flex desktop:gap-5">
				<aside
					id="mobile-menu"
					class="bg-primary p-7.5 duration-600 tablet:relative tablet:w-auto tablet:h-auto tablet:transition-none tablet:bg-secondary tablet:rounded-2xl tablet:p-5 tablet:text-left tablet:translate-x-0 tablet:mt-5 desktop:w-[10%] desktop:grow-[3] desktop:min-w-[250px] desktop:p-5 fixed right-0 top-0 z-10 h-screen w-[50%] min-w-[275px] translate-x-full text-right transition-transform"
				>
					<img
						src="/assets/designalytics/mobile-exit.svg"
						alt="Exit mobile menu"
						id="exit-btn"
						class="tablet:hidden w-7.5 h-7.5 inline cursor-pointer rounded bg-white"
					/>
					<nav
						class="desktop:flex desktop:flex-col desktop:justify-between desktop:h-full"
					>
						<ul
							class="tablet:mt-0 mt-15 tablet:flex tablet:justify-around desktop:flex-col desktop:gap-5"
						>
							<li class="tablet:mb-0 mb-4 flex items-center gap-2">
								<img
									src="/assets/designalytics/icon-home.svg"
									alt="Home"
									class="h-8 w-8"
								/>
								<a href="#" class="tablet:text-lg text-xl text-white"> Home</a>
							</li>
							<li class="tablet:mb-0 mb-4 flex items-center gap-2">
								<img
									src="assets/designalytics/icon-messages.svg"
									alt="Messages"
									class="h-8 w-8"
								/>
								<a href="#" class="tablet:text-lg text-xl text-white">
									Messages
								</a>
							</li>
							<li class="tablet:mb-0 mb-4 flex items-center gap-2">
								<img
									src="assets/designalytics/icon-account.svg"
									alt="Account"
									class="h-8 w-8"
								/>
								<a href="#" class="tablet:text-lg text-xl text-white">
									Account
								</a>
							</li>
							<li class="tablet:mb-0 mb-4 flex items-center gap-2">
								<img
									src="assets/designalytics/icon-support.svg"
									alt="Support"
									class="h-8 w-8"
								/>
								<a href="#" class="tablet:text-lg text-xl text-white">
									Support
								</a>
							</li>
						</ul>

						<div
							class="desktop:block bg-inner-panel hidden rounded p-5 text-white"
						>
							<header class="flex items-center justify-between">
								<h3 class="m-0 font-bold">Go Premium!</h3>
								<a href="#" class="right-btn">
									<img
										src="/assets/designalytics/right-btn.svg"
										alt="Go Premium!"
										class="w-5"
									/>
								</a>
							</header>
							<p class="my-4 leading-normal">
								For $5 extra, you can gain all of these other features.
							</p>
						</div>
					</nav>
				</aside>

				<main
					class="tablet:grid tablet:grid-cols-2 tablet:grid-rows-[repeat(3,auto)] tablet:gap-7.5 desktop:grow-[2] desktop:grid-cols-[1.2fr_2fr]"
				>
					<div class="p-9.5 bg-primary relative mt-5 rounded-2xl text-white">
						<div class="flex items-baseline gap-1">
							<strong class="m-0 text-6xl">13</strong>
							<span class="uppercase">Sales</span>
						</div>
						<img
							src="assets/designalytics/chart-top.svg"
							alt="Earnings Chart"
							class="absolute bottom-[-45px] right-[-5px] w-[300px]"
						/>
					</div>

					<div
						class="py-9.5 desktop:p-7.5 desktop:flex desktop:justify-center desktop:border-stats-ring desktop:border mt-5 rounded-2xl px-0 text-white"
					>
						<ul
							class="tablet:grid tablet:grid-cols-2 tablet:gap-5 desktop:flex desktop:items-center desktop:gap-12.5 flex justify-between"
						>
							<li>
								<strong class="mb-0.5 block text-xl">$756</strong>
								<span class="uppercase">Today's sales</span>
							</li>
							<li>
								<strong class="mb-0.5 block text-xl">$4,301</strong>
								<span class="uppercase">Last 7 Days</span>
							</li>
							<li>
								<strong class="mb-0.5 block text-xl">
									18<span>%</span>
								</strong>
								<span class="uppercase">Conversion</span>
							</li>
						</ul>
					</div>

					<div class="col-span-2">
						<h1 class="my-4.5 text-xl font-bold text-white">
							Earnings &amp; Visitors
						</h1>
						<div class="bg-secondary secondary rounded-2xl p-7">
							<img src="/assets/designalytics/chart.svg" alt="Earnings Chart" />
						</div>
					</div>

					<div class="col-span-2">
						<ul class="mt-5 grid grid-cols-2 gap-5 text-white">
							<li class="flex justify-between">
								<div class="flex items-center gap-2.5">
									<img
										src="assets/designalytics/user.jpg"
										alt="User Profile"
										class="h-12 w-12 rounded-full object-cover"
									/>
									<div class="user-info">
										<strong class="block">Jane Doe</strong>
										<span class="block">Google Ads</span>
									</div>
								</div>
								<a href="#" class="cta-btn">
									<img
										src="assets/designalytics/right-btn.svg"
										alt="View user info"
										class="bg-secondary box-content h-6 w-6 rounded p-2.5"
									/>
								</a>
							</li>
							<li class="flex justify-between">
								<div class="flex items-center gap-2.5">
									<img
										src="assets/designalytics/user.jpg"
										alt="User Profile"
										class="h-12 w-12 rounded-full object-cover"
									/>
									<div class="user-info">
										<strong class="block">Jane Doe</strong>
										<span class="block">Google Ads</span>
									</div>
								</div>
								<a href="#" class="cta-btn">
									<img
										src="assets/designalytics/right-btn.svg"
										alt="View user info"
										class="bg-secondary box-content h-6 w-6 rounded p-2.5"
									/>
								</a>
							</li>
							<li class="flex justify-between">
								<div class="flex items-center gap-2.5">
									<img
										src="assets/designalytics/user.jpg"
										alt="User Profile"
										class="h-12 w-12 rounded-full object-cover"
									/>
									<div class="user-info">
										<strong class="block">Jane Doe</strong>
										<span class="block">Google Ads</span>
									</div>
								</div>
								<a href="#" class="cta-btn">
									<img
										src="assets/designalytics/right-btn.svg"
										alt="View user info"
										class="bg-secondary box-content h-6 w-6 rounded p-2.5"
									/>
								</a>
							</li>
							<li class="flex justify-between">
								<div class="flex items-center gap-2.5">
									<img
										src="assets/designalytics/user.jpg"
										alt="User Profile"
										class="h-12 w-12 rounded-full object-cover"
									/>
									<div class="user-info">
										<strong class="block">Jane Doe</strong>
										<span class="block">Google Ads</span>
									</div>
								</div>
								<a href="#" class="cta-btn">
									<img
										src="assets/designalytics/right-btn.svg"
										alt="View user info"
										class="bg-secondary box-content h-6 w-6 rounded p-2.5"
									/>
								</a>
							</li>
							<li class="flex justify-between">
								<div class="flex items-center gap-2.5">
									<img
										src="assets/designalytics/user.jpg"
										alt="User Profile"
										class="h-12 w-12 rounded-full object-cover"
									/>
									<div class="user-info">
										<strong class="block">Jane Doe</strong>
										<span class="block">Google Ads</span>
									</div>
								</div>
								<a href="#" class="cta-btn">
									<img
										src="assets/designalytics/right-btn.svg"
										alt="View user info"
										class="bg-secondary box-content h-6 w-6 rounded p-2.5"
									/>
								</a>
							</li>
							<li class="flex justify-between">
								<div class="flex items-center gap-2.5">
									<img
										src="assets/designalytics/user.jpg"
										alt="User Profile"
										class="h-12 w-12 rounded-full object-cover"
									/>
									<div class="user-info">
										<strong class="block">Jane Doe</strong>
										<span class="block">Google Ads</span>
									</div>
								</div>
								<a href="#" class="cta-btn">
									<img
										src="assets/designalytics/right-btn.svg"
										alt="View user info"
										class="bg-secondary box-content h-6 w-6 rounded p-2.5"
									/>
								</a>
							</li>
						</ul>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>

<script>
	const menuBtn = document.getElementById("menu-btn")!;
	const exitBtn = document.getElementById("exit-btn")!;
	const menuAside = document.getElementById("mobile-menu")!;

	menuBtn.addEventListener("click", (e) => {
		e.preventDefault();
		menuAside.classList.toggle("translate-x-full");
		menuAside.classList.toggle("translate-x-0");
	});
	exitBtn.addEventListener("click", (e) => {
		e.preventDefault();
		menuAside.classList.toggle("translate-x-full");
		menuAside.classList.toggle("translate-x-0");
	});
</script>

<style>
	@config "./tailwind.config.ts";

	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
